 <article class="characters">
      <div class="name">
        <a href="/characters/{{id}}" target="_blank">{{character.name}}</a>
      </div>
      {{!-- <div class="meta"> --}}
        {{!-- {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
        {{!-- passing the helper function --}}
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
      {{!-- </div> --}}
    </article>