<div class="text-center">
    <ul>
<li> Name: {{character.name}} </li>
<li> Class: {{character.class}} </li>
{{!-- <li> Race: {{character.race}} </li>
<li> Level: {{character.level}} </li>
<li> Hit Points: {{character.hit_points}} </li>
<li> Armor Class: {{character.armor_class}} </li> --}}
<li> Strength: {{character.strength}} </li>
<li> Dexterity: {{character.dexterity}} </li>
<li> Constitution: {{character.constitution}} </li>
<li> Intelligence: {{character.intelligence}} </li>
<li> Wisdom: {{character.wisdom}} </li>
<li> Charisma: {{character.charisma}} </li>
</ul>

</div>